* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    grid-area: nav;
}

.navigation li {
    float: left;
    border-right: 1px white;
}

.navigation li:last-child {
    border-right: none;
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}

.header {
    grid-area: header;
    font-size: 25px;
    /* background-color: lightblue; */
}

.main {
    grid-area: main;
    font-size: 16px;
}

.right {
    grid-area: rightside;
    font-size: 12px;
}

.footer {
    grid-area: footer;
    font-size: 10px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav'
    'header header header header header'
    'main main main main rightside'
    'main main main main rightside'
    'footer footer footer fo0oter footer';
    grid-gap: 10px;
    /* background-color: lightblue; */
    padding: 10px;
}

.grid-container > div {
    padding: 20px 0;
}

/* body {
    background-color: lightgray;
} */
